:root {
    --color-primary: #F1F1F1;
    --color-secondary: #1a1918;
    --color-accent: #d5b268;
    --color-muted: #a5a198;
    --color-background: #cfcecb;
}

body {
    font-family: "Tajawal", sans-serif;
    font-weight: 900;
    font-style: normal;
    direction: rtl;
    text-align: right;
    color: #555555;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    width: 100%;
    background-color: var(--color-primary);
    direction: rtl;
    text-align: right;
    float: right;
    position: sticky;
    top: 0;
    z-index: 1000;
    color: #555555;
}

    .navbar .navbar-nav .nav-link:focus {
        color: var(--color-accent);
    }

.navbar-brand {
    float: right;
}

.navbar-nav {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

h1, h2, h3 {
    font-family: "Tajawal", sans-serif;
    font-weight: 300;
}

p, li {
    font-family: "Tajawal", sans-serif;
    font-weight: 300;
    color: #555555;
    font-size: 20px;
}

@media(max-width: 991px) {
    .sidebar {
        background-color: rgba(255,255,255,0.7); /* áæä ÃÈíÖ ÝÇÊÍ ãÚ ÔÝÇÝíÉ */
        backdrop-filter: blur(10px);
    }
}

.offcanvas-header {
    position: relative;
}

    .offcanvas-header .btn-close {
        left: 15px; /* ÊÚÏíá ÇáãæÞÚ áíßæä Úáì ÇáíÓÇÑ */
        position: absolute; /* ÇÓÊÎÏÇã absolute áæÖÚ ÇáÒÑ Ýí ÇáãßÇä ÇáÕÍíÍ */
        top: 50%; /* áÊæÓíØ ÇáÒÑ ÚãæÏíðÇ */
        transform: translateY(-50%); /* áÊÚÏíá ÇáãÍÇÐÇÉ */
    }

/* Start Hero Section */
.hero {
    display: flex;
    min-height: 100vh;
}

.left-section {
    background-color: #C7A251; /* Çááæä ÇáÃÕÝÑ */
    flex: 1; /* ÊãÏÏ ßÇãá */
}

.right-section {
    background-color: #fff; /* Çááæä ÇáÃÈíÖ */
    flex: 1; /* ÊãÏÏ ßÇãá */
}
/* End Hero Section */

/* Start Footer */
.footer {
    background-color: var(--color-primary);
    padding: 20px 0;
    text-align: center;
    margin-top: auto; /* íÌÚá ÇáÝæÊÑ íÈÞì ÃÓÝá ÇáÕÝÍÉ */
}

    .footer .copyright {
        font-size: 14px;
        color: var(--color-muted);
    }

        .footer .copyright > span {
            color: var(--color-accent);
        }

        .footer .copyright div span {
            color: var(--color-secondary);
        }
/* End Footer */
